@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Chango&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0%;
    margin: 0%;
 }
 .main
 {
    width: 100%;
 }
 .container1{
    width: 100%;
 }
.content h6{
    font-weight:normal;
    font-size: 20px;
}
.content p{
    margin-bottom: 4%;
    font-weight:normal
}
.content{
  
    width: 60%;
    padding-right: 5%;
    box-sizing: border-box;
    padding-bottom: 4%;
}
.top button
{
border-radius: 0px;
}
.container24
{
    width: 100%;
    /* height: 50vh; */
    background-color: black;
    color: white;
    display: flex;
    padding-bottom: 6%;
  

}
.left24{
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 10%;

}
.right24{
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 10%;
    
}
.left24 h3{
    color:  #EC6754;
    font-size: 70px;
    font-family: "Balsamiq Sans", sans-serif;
    margin-bottom: 2%;
}
.right24 h3{
    color:#85CCD1;
    font-size: 70px;
    font-family: "Balsamiq Sans", sans-serif;
    margin-bottom: 2%;
}
.container25{
    width: 100%;
    height: 50vh;
    background-image: url(../IMAGES/images/Mask\ Group\ 208.png);
    color: white;
    font-family: "Balsamiq Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container25 h1{
    width: 50%;
    text-align: center;
    font-size: 60px;
    padding-right: 2%;
    box-sizing: border-box;
}
.container26
{
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 7%;
    box-sizing: border-box;

}
.container26 div{
    height: 50%;
    width: 60%;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
    padding-bottom: 5%;
}
.container26 h3{
    width: 100%;
    color: #FFC930;
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 50px;
    margin-bottom: 2%;
}

.rightside{
    font-family: "Poppins", sans-serif;
}
.rightside p{
   
 
    line-height: 40px;
}
.rightside h6{
    font-size: 20px;
}


@media (max-width: 768px) {
    .container24{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .content {
        width: 90%;
        left: 5%;
        text-align: center;
        padding: 5%;
    }

    .content h3 {
        font-size: 40px;
    }

    .content h6 {
        font-size: 18px;
    }
}
@media (max-width: 498px) {
    .container25 h1{
        font-size: 40px;
    }
}